jupyter
matplotlib==3.2.1
pandas==1.0.3
numpy==1.16.3
scipy==1.4.1
scikit-learn==0.23.0
argparse==1.4.0
progressbar2==3.51.3
tqdm==4.31.1
lightgbm==2.3.1
densratio==0.2.2
seaborn==0.10.1
POT==0.7.0
MulticoreTSNE==0.1
skorch==0.8.0
metric-learn==0.5.0
networkx==2.4
bayesian-optimization==1.2.0
